@charset "UTF-8";


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    :root {
        --pink: rgb(228, 170, 228);
    }

    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: rgb(228, 170, 228);
    }

    .main-container {
        background-color: white;
        text-align: center;
        width: 614px;
        height: 253px;
        margin: auto;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);
    }

    div {
        display: inline-block;
    }

    img {
        max-width:380px;
        border-radius: 10px 0px 0px 10px;
    }

    section > div > h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 20px;
    }

    .message-below-login {
        margin-top: 20px;
        font-size: 12px;
    }

    /* INPUTs */
    .input-login {
        margin: 10px 10px 2px 0px;
        border: 1px solid var(--pink);
        border-radius: 5px;
        margin-top: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: var(--pink);
        color: rgb(0, 0, 0);
    }

    .input-passwd {
        border: 1px solid var(--pink);
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: var(--pink);
        color: rgb(0, 0, 0);
    } 


    /* BUTTON */

    .buttonLoginP {
        height: 70px;
    }

    .buttonForgotP {
        
    }
    
    .buttonLogin a, .buttonForgot a {
        text-decoration: none;
    }

    .buttonLogin {
        font-weight: bold;
        margin-top: 20px;
        padding: 6px 93px;
        border-radius: 10px;
        border: 1px solid blueviolet;
    }

    .buttonLogin:hover {
        background-color: blueviolet;
        color: white;
    }

    .buttonForgot {
        font-weight: bold;
        padding: 6px 89px;
        border-radius: 10px;
        border: 1px solid rgb(226, 43, 113);
    }

    .buttonForgot:hover {
        background-color: rgb(226, 43, 113);
        color: white;
    }


    footer {
        position: fixed;
        background-color: white;
        color: rgba(0, 0, 0, 0.750);
        text-align: center;
        font-style: italic;
        width: 100%;
        bottom: 0;
    }

}