/* Others Medias */

/* 
    Typical Device Breakpoints:
        Small Screen: Up to 600px
        Phone: 600px to 768px
        Tablet: 768px to 992px
        Desktop: 992px to 1200px
        Big Screen: over 1200px
*/

@charset "UTF-8";


/* TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    .container-class {
        width: 90vw;
    }


    /* IMG */
    .container-class > .container-img-class {
        float: left;    
        background-position:left top;
        width: 30%;
        height: 100%;
    }

    
    /* FORM */
    .container-class > .container-form-class {
        float: right;
        width: 70%;
    }

}