/* Others Medias */

/* 
    Typical Device Breakpoints:
        Small Screen: Up to 600px
        Phone: 600px to 768px
        Tablet: 768px to 992px
        Desktop: 992px to 1200px
        Big Screen: over 1200px
*/

@charset "UTF-8";

/* DESKTOP */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    body {
        background: linear-gradient(to bottom, blueviolet, rgb(228, 170, 228)) no-repeat;
    }

}

/* BIG SCREEN */

@media screen and (min-width: 1201px) {

    body {
        background: linear-gradient(to bottom, blueviolet, rgb(228, 170, 228)) no-repeat;
    }

}