/* Others Medias */

/* 
    Typical Device Breakpoints:
        Small Screen: Up to 600px
        Phone: 600px to 768px
        Tablet: 768px to 992px
        Desktop: 992px to 1200px
        Big Screen: over 1200px
*/

@charset "UTF-8";

:root {
    --green: #49a09d;
    --lilac: #5f2c82;
    --pink: rgb(243, 112, 232);
}


/* TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    .container-class {
        width: 80vw;
        height: 280px;
    }

    body{
        background-image: linear-gradient(to top, var(--pink), var(--lilac));
    }


    /* IMG */
    .container-class > .container-img-class {
        float: left;    
        background-position:left top;
        width: 30%;
        height: 100%;
    }

    
    /* FORM */
    .container-class > .container-form-class {
        float: right;
        width: 70%;
    }

}


/* DESKTOP AND BIG SCREENS */

@media screen and (min-width: 993px) {

    .container-class {
        width: 950px;
        height: 350px;
    }

    body{
        background-image: linear-gradient(to top, var(--pink), var(--lilac));
    }


    /* IMG */
    .container-class > .container-img-class {
        float: right;    
        background-position:right center;
        width: 50%;
        height: 100%;
    }

    
    /* FORM */
    .container-class > .container-form-class {
        float: left;
        width: 50%;
    }

    .container-class > .container-form-class > h1 {
        font-size: 2em;
    }

    .container-class > .container-form-class > p {
        font-size: 1em;
        margin: 20px 0px;
    }


    form > input[type = submit] {
        margin-top: 15px;
    }

}