/*
    Color palette:
        Green: #49a09d
        Lilac: #5f2c82
        Pink: rgb(243, 112, 232)
*/

@charset "UTF-8";

:root {
    --green: #49a09d;
    --lilac: #5f2c82;
    --stronglilac: #421e5a;
    --pink: rgb(243, 112, 232);
    --strongtpink: rgb(184, 68, 174);
}


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* Border is part of the width account */
}


html, body {
    background-color: var(--pink);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container-class {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 475px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}


/* IMG */
.container-class > .container-img-class {
    display: block;
    background: var(--lilac) url(../image/img-welcome.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    height: 200px;
}

/* FORM */

.container-form-label-class {
    display: block;
    background-color: var(--pink);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

label {
    display: none;
}

.container-class > .container-form-class {
    display: block;
    padding: 10px;
}

.container-class > .container-form-class > h1 {
    text-align: center;
    margin-bottom: 10px;
}

.container-class > .container-form-class > p {
    font-size: .8em;
    padding-bottom: 10px;
}


/* BUTTONS */
form > input[type = submit] {
    background-color: var(--lilac);
    color: white;
    font-weight: bold;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type = submit]:hover {
    background-color: white;
    border: 2px solid var(--lilac);
    color: var(--lilac);
    translate: background .5s;
}

form > .button-forgot-class {
    display: block;
    background-color: var(--green);
    color: white;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 2px solid var(--green);
    border-radius: 7px;
    text-decoration: none;
    padding-top: 5px; 
    margin-top: 5px;
    font-weight: bold;
}

form > .button-forgot-class:hover {
    background-color: white;
    border: 2px solid var(--green);
    color: var(--green);
    translate: background .5s;
}