/*
    Color palette:
        Green: #49a09d
        Lilac: #5f2c82
*/

@charset "UTF-8";

:root {
    --green: #49a09d;
    --lilac: #5f2c82;
}


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* Border is part of the width account */
}


html, body {
    background-color: var(--lilac);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container-class {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}


/* IMG */
.container-class > .container-img-class {
    display: block;
    background: var(--lilac) url(../image/img-welcome.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    height: 200px;
}


/* FORM */
.container-class > .container-form-class {
    display: block;
    padding: 10px;
}